<p>Configure <strong><%= @service_call.service.name%></strong> Service for Repository '<%= @service_call.repository.name%>'</p>
<hr />

<%= form_for(@service_call) do |f| %>

  <%= f.fields_for(:service_call_parameters) do |ff| %>
    <% if ff.object.service_parameter.is_a?(InputParameter)%>
      <p>Use <%= ff.select(:rdf_type, @service_call.input_values, {},{class: "search-this"}) %> as input for
        <strong><%= ff.object.service_parameter.name %></strong>
      </p>
    <% else %>
      <p>Store <strong><%= ff.object.service_parameter.name %></strong> as attribute <%= ff.text_field(:rdf_type) %></p>
    <% end %>
  <% end %>

<%= submit_tag("Set Parameters", class: "btn")%>
<%= link_to("Run Service", service_call_run_path(@service_call), class: "btn btn-success", method: :post)%>
<% end %>