<div class="metric_node real_node" id="metric_node_<%= node.id%>" style="<%= metric_node_position(node) %>" data-id="<%= node.id%>">
  <strong><%= node.pattern.name %></strong>
  <hr style = "margin-top: 0px; margin-bottom: 5px" />
  
  <%= form_for(node) do |f| %>
    <%= f.hidden_field :x %>
    <%= f.hidden_field :y %>
    <%= f.select(:operation_cd, MetricNode.operations, {:include_blank => true}, {:class => "narrow"})%>
    <%= f.select(:aggregation_id, options_from_collection_for_select(node.aggregations, "id", "speaking_name"), {}, {:class => "justRight"}) %>
  <% end %>
  
  <hr style = "margin-top: -20px; margin-bottom: 5px" />    
  
  <div class="btn-group">
  <%= form_tag(metric_node_aggregations_path(node), :remote => true, :id => "new_aggregation", :class => "needs_no_space") do %>  
    <%= select_tag(:operation, options_for_select(Aggregation.operations.keys), :class => "needs_no_space a_tad_bigger") %>:
    <%= select_tag(:pattern_element_id, options_for_select(node.pattern.pattern_elements.collect{|pe| [pe.speaking_name, pe.id]}), :class => "needs_no_space a_tad_bigger") %>
    <%= button_tag("Add", :class => "btn btn-primary")%>
  <% end %>
  </div>
    
  <hr style = "margin-top: 5px; margin-bottom: 5px" />        
    
  <div class="btn-group" id="aggregations_<%= node.id %>" style="font-size: 14px;">
    <% node.aggregations.each do |aggregation| %>
      <%= render :partial => "aggregations/show", :locals => {:aggregation => aggregation} %>
    <% end %>    
  </div>
  
</div>