<div id="<%= div_id(@ac) %>" class="attribute_constraint ge" data-id="<%= @ac.id %>" style="<%= ac_position(@ac) %>">
  <%= name_field(@ac) %>
  <%= render :partial => "form", :locals => {:ac => @ac, :possible => @possible} %>
</div>