<% div_id = "node_#{@ac.node.id}_attributes_#{@ac.id}" %>
<div id="<%= div_id %>">
  <%= form_for([@pattern,@ac], :html => {:class => "needsNoSpace edit_attribute_constraint"}) do |f| %>
    <%= f.select(:attribute_name, attrib_selector(@possible_attributes), {}, {:class => "justRight"})%>
    <%= f.select(:operator, operator_selector(), {}, {:class => "veryNarrow"})%>
    <%= f.text_field(:value, {:class => "justRight"})%>
    <a href="#" onclick="removeAttributeConstraint('<%= pattern_attribute_constraint_path(@pattern, @ac) %>', '<%= div_id %>');">
      <%= fa_icon "ban" %>
    </a>
  <% end %>
</div>