<% div_id = "attribute_constraint_#{@ac.id}" %>
<div id="<%= div_id %>" class="attribute_constraints graph_element" data-id="<%= @ac.id %>" style="<%= ac_position(@ac) %>">
  <%= form_for([@pattern,@ac], :html => {:class => "needs_no_space edit_attribute_constraint"}) do |f| %>
    <%= f.select(:rdf_type, attrib_selector(@possible_attributes, @ac), {}, {:class => "just_right"}) %>
    <%= f.select(:operator, operator_selector(), {}, {:class => "very_narrow"}) %>
    <%= f.text_field(:value, {:class => "just_right"}) %>
    <%= f.hidden_field :x %>
    <%= f.hidden_field :y %>
    <%= link_to(fa_icon("times-circle"), "#", :onclick => "removeAttributeConstraint('#{pattern_attribute_constraint_path(@pattern, @ac)}', '#{div_id}');") %>
  <% end %>
</div>
