<%= form_tag(graph_store_node_path(@graph)) do %>
<table class="table">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @attributes.each do |attrib| %>
    <tr>
      <td><%= label_tag(attrib) %></td>
      <td><%= text_field_tag("attributes[#{attrib}]") %></td>
    </tr>
    <% end %>
    <tr>
      <td>Resource Type</td>
      <td><%=@target_type %><%= hidden_field_tag("attributes[#{Graph::TYPE_FIELD}]", @target_type)%>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Relation</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
    <% @relations.each_pair do |relation, target| %>
    <tr>
      <td><%= relation %></td>
      <%= hidden_field_tag("relations[#{relation}]", target)%>
      <td><%= target %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= submit_tag ("Store Node")%>
<% end %>