<% unless @repositories.empty? %>
<table style="width:40%" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @repositories.each_with_index do |repository, i| %>
  <tr>
    <td><%= link_to(repository.name, repository) %></td>
    <td>
      <%= link_to "Show", repository, {:class => "btn btn-success"} %>
      <%= link_to "Extract Data Schema", repository_extract_schema_path(repository), {:class => "btn btn-info"} %>            
      <%= link_to "Edit", edit_repository_path(repository), {:class => "btn btn-warning"} %>
      <%= link_to "Delete", repository, {:method => :delete, :confirm => "Really?", :class => "btn btn-danger"} %>
    <td>
  </tr>
  <% end %>
</table>
<% end %>

<hr />
<p>Create new Repository</p>
<%= form_tag(new_repository_path, :method => :get) do |f| %>
  <%= select_tag(:type, options_from_collection_for_select(Repository::TYPES, "classify", "classify"), {:class => "needs_no_space"})%>
  <%= submit_tag "Create Repository", :class => "btn success"%>
<% end %>
