<table class="table" style="width: 50%">
  <tr>
    <td colspan="2"><h4>Existing Ontologies</h4><td>
  </tr>
  <% @ontologies.each do |ed| %>
  <tr>
    <td><%= link_to(ed.name, ed) %></td>
    <td><%= link_to("RDF File", ed.target_ontology_url, {:class => "btn"}) %>
    <%= link_to("Destroy", ed, {:method => :destroy, :confirm => "Really destroy #{ed.name}?", :class => "btn"}) %></td>          
  <tr>
  <% end %>
  <tr>
    <td colspan="2"><h4>Edit Classes</h4><td>
  </tr>
  <tr>
    <td>
    <%= form_tag(graph_add_class_path(@graph)) do %>
      <%= label_tag("Add Class") %>
      <%= text_field_tag("class_name") %>
      Subclass Of: <%= select_tag(
        "parent_class", 
        options_for_select(@types.collect{|type, info| [info[:name], type]}), 
        {:include_blank => true}) 
      %><br />
      <%= submit_tag("Save!") %>
    <% end %>
    </td>
  </tr>

</table>  