<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= raw @stats.to_json %>);

    var options = {
      pieSliceText: 'value'
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

<table style="width:40%">
  <tr>
    <td><h4><%= @repository.name %></h4></td></tr>
  <tr>
    <td style="vertical-align:top;">
      <%= link_to "Create Query", new_query_path(), {:class => "btn"} %>
      <%= link_to "Extract Data Schema", repository_extract_schema_path(@repository), {:class => "btn"} %>      
      <hr />
    <td>
  </tr>
  <tr>
    <td>
      <%= label_tag("Statistics")%>            
      <div id="chart_div" style="width: 700px; height: 400px;"></div> 
    </td>
  </tr>  
</table>

