<div class="node" style="top: <%= node.y %>px;left: <%= node.x %>px;" id="node_<%=node.id%>" data-node-id="<%= node.id %>">
<%= form_for([pattern, node]) do |f| %>
  <%= f.hidden_field :x %>
  <%= f.hidden_field :y %>  
  <%= f.select(:rdf_type, type_select(type_hierarchy, node), :class => "classSelector") %>
  <%= link_to(fa_icon("sitemap"), "#", :onclick => "openComplexDialog('#{pattern_node_modal_path(pattern, node)}')") %>&nbsp;|&nbsp; 
  <%= link_to(fa_icon("times-circle"), "#", :onclick => "deleteNode('node_#{node.id}')") %>  
<% end %>
</div>