<div class="node immutable_node" style="top: <%= (node.y - 50) %>px;left: <%= node.x %>px;" id="node_<%=node.id%>" data-id="<%= node.id %>" data-class="Node">
  <%= form_for([pattern, node], :html => {:class => "static"}) do |f| %>
    <%= f.select(:rdf_type, options_from_collection_for_select([node.type_expression.fancy_string(true)], "to_s", "to_s"), {} ,{:class => "classSelector"}) %>
  <% end %>
</div>