<div class="node immutable_node graph_element static" style="<%= node_position(node, true, offset)%>" id="node_<%=node.id%>" data-id="<%= node.id %>" data-pattern-id="<%= pattern.id %>" data-rdf-type="<%= node.rdf_type %>">
  <%= node.pretty_string %>
</div>
