<div class="node immutable_node graph_element static <%= node.is_group ? "double-border" : "" %>" style="<%= node_position(node, true)%>" id="node_<%=node.id%>" data-id="<%= node.id %>">
  <%= node.pretty_print%>
</div>
