<%= javascript_tag do %>
  var connect_nodes_path = '<%= metric_create_connection_path(@metric) %>';
  var disconnect_nodes_path = '<%= metric_destroy_connection_path(@metric) %>';
  var existingConnections = <%= @existing_connections.to_json.html_safe %>;
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "metrics.js" %>
<% end %>
  
  <div class="btn-group">
    <%= form_for(@metric, :remote => true, :html => {:class => "edit_metric form-horizontal needs_no_space"}) do |f| %>
      <div class="input-prepend">
        <span class="add-on">Name</span>
        <%= f.text_field(:name, :class => "needs_no_space") %>
      </div>
      <div class="input-prepend">
        <span class="add-on">Description</span>
        <%= f.text_field(
          :description, 
          :class => "needs_no_space", 
          :style => "width: #{@metric.description.nil? ? 250 : [@metric.description.size * 7, 250].max}px;") 
        %>    
      </div>
      <div class="input-prepend">      
        <span class="add-on">Categories</span>
        <%= f.autocomplete_field :tag_list, autocomplete_tag_name_metrics_path, :"data-delimiter" => ', ' %>
      </div>
      
      <%= submit_tag("Save Metric", :class => "btn btn-success") %>
    <% end %>
  </div> 

<hr />
  
<div class="btn-toolbar">
  <div class="btn-group">
    <%= form_tag(metric_create_operator_path(@metric), :remote => true, :class => "needs_no_space", :id => "new_operator") do %>
      <%= select_tag(:operator, options_for_select(MetricOperatorNode.operator_symbols), {:class => "needs_no_space narrow"}) %>
      <%= submit_tag("New Operator", :class => "btn btn-info") %>
    <% end %>
  </div>
  
  <div class="btn-group left-boarder">
    <%= form_tag(metric_create_node_path(@metric), :remote => true, :class => "needs_no_space", :id => "new_node") do %>
      <%= select_tag(
        :pattern_id, 
        grouped_options_for_select(@pattern_groups), 
        {:class => "needs_no_space selectpicker", "data-live-search" => "true"}) 
      %>
      <%= submit_tag("New Node", :class => "btn btn-info") %>
    <% end %>
  </div>
</div>

<div id="drawing_canvas" class="canvas">
  <% @metric.metric_nodes.each do |metric_node| %>
    <%= render :partial => "metric_nodes/show", :locals => {:node => metric_node} %>
  <% end %>
</div>