<div class="relation" data-id="<%= @rc.id %>" data-class="RelationConstraint">
  <%= form_for([@pattern, @rc]) do |f| %>

    <%= f.select(:rdf_type, options_from_collection_for_select(@possible_relations, "relation_url", "name", @rc.rdf_type), {}, {:class => "needs_no_space"}) %><br />
  
    <% if @rc.min_cardinality.blank? && @rc.max_cardinality.blank? %>
      <a href="#" onclick="$('#rel_const_cards_<%= @rc.id %>').show(); $(this).hide();">+ cardinalities</a><br />
      <div id="rel_const_cards_<%= @rc.id %>" style="display:none;">
    <% else %>
      <br /><div id="rel_const_cards_<%= @rc.id %>">
    <% end %>
  
    (<%= f.text_field(:min_cardinality, :class => "very_narrow") %>,
    <%= f.text_field(:max_cardinality, :class => "very_narrow") %>)
    </div>

    <% if @rc.min_path_length.blank? && @rc.max_path_length.blank? %>
      <a href="#" onclick="$('#rel_const_length_<%= @rc.id %>').show(); $(this).hide();">+ path length</a>  
      <div id="rel_const_length_<%= @rc.id %>" style="display:none;">
    <% else %>
      <div id="rel_const_length_<%= @rc.id %>">
    <% end %>
  
    [<%= f.text_field(:min_path_length, :class => "very_narrow") %>,
    <%= f.text_field(:max_path_length, :class => "very_narrow") %>]
    </div>
  <% end %>
</div>