<% unless @query_jobs.empty? %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "progress_bars.js" %>
  <% end %>
  <script type="text/javascript">
    var jobs = <%= @query_jobs.to_json.html_safe %>;
  </script>
<% end %>



<% @repos_with_tasks.each do |repo| %>
  <table class="table table-bordered">
    <tr class="info">
      <td colspan="2"><strong><%= link_to(repo.name, repo) %></strong></td>
      <td>Running Queries</td>
    </tr>
    <% repo.monitoring_tasks.each_with_index do |mt, i| %>
    <tr>
      <td><%= link_to(mt.measurable.name, mt.measurable) %></td>
      <td>
        <% if mt.executable? %>
          <%= link_to("Results", monitoring_task_results_path(mt), class: "btn btn-success") %>
          <%= link_to("Query", monitoring_task_query_path(mt), class: "btn btn-info") %>
        <% else %>
          <%= form_tag(pattern_prepare_translation_path(mt.translate_this), class: "needs_no_space") do %>
            <%= hidden_field_tag(:ontology_ids, mt.repository.ontology.id)%>
            <%= submit_tag("Translate",class: "btn btn-warning") %>
          <% end %>
        <% end %>

        <%= link_to("Delete",
              monitoring_task_path(mt),
              method: :delete,
              class: "btn btn-danger",
              confirm: "Delete #{mt.name}?"
            )
        %>
      </td>
      <% if i == 0 %>
      <td rowspan="<%= repo.monitoring_tasks.size %>" class="span7">
        <% repo.query_jobs.each_with_index do |qj, ii| %>
          <%= render :partial => "stuff/progress_bar", :locals => {:job_id => qj.id} %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>