<h3>Translation is ambiguous. Please select between alternatives!</h3>

<%= form_tag(pattern_prepare_translation_path(@pattern.source_pattern, @pattern.ontologies.first)) do %>
  <% @groups.each do |group| %>
    <% common = group.inject(:&).collect{|el| el.id} %>
    <legend>Possible Mappings for Element <%= common.first %></legend>
    <fieldset>
    <% group.each do |keys| %>
      <% @acs[keys].each do |correspondence| %>
        <%= radio_button_tag "correspondence_id[#{common}]", correspondence.id %>
        <%= correspondence.source_key %> -- <%= correspondence.target_key %>
      <br />
      <% end %>
    <% end %>
    <%= radio_button_tag "correspondence_id[#{common}]", 0 %> Manual Translation
    </fieldset>
  <% end %>
  <br />
  <%= submit_tag("Prepare!", :class => "btn btn-info") %>
<% end%>