<%= javascript_tag do %>
  var new_relation_constraint_path = '<%= pattern_relation_constraints_path(@pattern) %>';
  var new_attribute_constraint_path = '<%= pattern_attribute_constraints_path(@pattern) %>';
  var connect_these_nodes = <%= @relations.to_json.html_safe %>;
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "pattern_editor.js" %>
<% end %>

<%= link_to 'Save', "#", :onclick => "save_pattern();",  :class => "btn btn-success" %>
<%= link_to 'Reset', pattern_reset_path(@pattern), :method => :post, :class => "btn btn-danger", :confirm => "Return to last saved state?" %>
<%= link_to 'Create Node', pattern_nodes_path(@pattern), :method => :post, :remote => true, :class => "btn", :id => "new_pattern_node" %>

<%= form_for(@pattern) do |f| %><% end %>
<hr />

<div id="drawing_canvas" class="canvas">
  
  <% @pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/show", :locals => {:node => node, :pattern => @pattern, :type_hierarchy => @type_hierarchy }%>
  <% end %>
  
</div>