<% content_for :javascript_includes do %>
  <%= javascript_include_tag "patterns.js" %>
<% end %>

<h3>Existing Graph Patterns</h3>
<%= link_to "New Pattern", new_pattern_path, :class => "btn"%>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th style="width: 20%;">Description</th>
      <th>Concepts Used</th>
      <th>Transfer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @patterns.each_with_index do |pattern, i| %>
    <tr>
      <td><%= link_to(pattern.name, pattern_path(pattern)) %></td>
      <td><%= pattern.description %></td>
      <td><%= pattern.concept_count %></td>
      <td>
      <%= form_tag(pattern_run_on_repository_path(pattern), :id => "run_pattern_#{pattern.id}") do |f| %>
      <%= select_tag(
        :repository_id, 
        options_from_collection_for_select(@repositories, "id", "name"), 
        {:include_blank => true, :class => "needs_no_space", :onchange => "checkExecutionStatus($('#run_pattern_#{pattern.id}'), '#{pattern_missing_concepts_path(pattern)}', $('#query_button_#{pattern.id}'));".html_safe}
      ) %>
      <span id="query_button_<%= pattern.id %>">
        <%= fa_icon("chevron-circle-left", :text => "choose") %>
      </span>
      </td>   
      <td><%= link_to("Destroy", pattern_path(pattern), :method => :delete, :class => "btn btn-danger", :confirm => "Really delete #{pattern.name}?") %></td>
      <% end %>
    </tr>    
  <% end %>
</table>