<% content_for :javascript_includes do %>
  <%= javascript_include_tag "pattern_overview.js" %>
<% end %>

<h3>Existing Graph Patterns</h3>
<%= link_to "New Pattern", new_pattern_path, :class => "btn"%>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th style="width: 20%;">Description</th>
      <th>Concepts Used</th>
      <th>Transfer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @patterns.each_with_index do |pattern, i| %>
    <tr>
      <td><%= link_to(pattern.name, pattern_path(pattern)) %></td>
      <td><%= pattern.description %></td>
      <td><%= pattern.concept_count %></td>
      <td>
      <%= select_tag(
        :repository_id, 
        options_from_collection_for_select(@repositories, "id", "name"), 
        { :include_blank => true, 
          :class => "needs_no_space", 
          :id => "repository_id_#{pattern.id}",
          :onchange => "checkExecutionStatus($('#repository_id_#{pattern.id}'), '#{pattern_missing_concepts_path(pattern)}', $('#query_button_#{pattern.id}'));".html_safe,
          :disabled => @repositories.empty?}
      )%>
      <span id="query_button_<%= pattern.id %>">
        <% unless @repositories.empty? %>
          <%= fa_icon("chevron-circle-left", :text => "choose") %>
        <% else %>
          <%= fa_icon("exclamation", :text => "no repository with extracted ontology") %>
        <% end %>
      </span>
      </td>   
      <td><%= link_to("Delete", pattern_path(pattern), :method => :delete, :class => "btn btn-danger", :confirm => "Really delete #{pattern.name}?") %></td>
    </tr>    
  <% end %>
</table>