<%= form_tag(process_patterns_patterns_path) do %>

<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to "New Pattern", new_pattern_path, :class => "btn btn-success"%>
  </div>
  <div class="btn-group">  
    <%= button_tag("Monitor selected on:", :class => "btn btn-warning", :name => "monitor") %>
    <%= select_tag("repository_id", options_from_collection_for_select(@repositories, "id", "name"), {:class => "needs_no_space"}) %>
  </div>
  <div class="btn-group">
    <%= button_tag("Translate selected to:", :class => "btn btn-info", :name => "translate") %>
    <%= select_tag(:ontology_ids, grouped_options_for_select(@ontology_groups), {:class => "needs_no_space"}) %>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>      
      <th>Elements</th>
      <th>Ontology</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>

  <% @pattern_groups.each_pair do |tag, patterns| %>
    <tr class="info">
      <td colspan="5"><strong><%= tag %></strong> (<%= patterns.size%>)</td>
    </tr>
    <% patterns.each do |pattern|%>
      <tr>
        <td>
          <label class="checkbox"><%= check_box_tag("patterns[]", pattern.id)%><%= link_to(pattern.name, pattern_path(pattern)) %></label>
        </td>
        <td class="span8"><%= pattern.description %></td>
        <td><%= pattern.pattern_elements.size %></td>
        <td><%= pattern.ontologies.collect{|ont| ont.short_name}.join(", ") %>
        <td>
          <%= link_to("Query", pattern_query_path(pattern), :class => "btn btn-success btn-mini") %>
          <%= link_to(
            "Delete",
            pattern_path(pattern), 
            :method => :delete, 
            :class => "btn btn-danger btn-mini", 
            :confirm => "Really delete #{pattern.name}?") 
          %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<% end %>