<% content_for :javascript_includes do %>
  <%= javascript_include_tag "pattern_overview.js" %>
<% end %>

<h3>Existing Graph Patterns</h3>
<%= link_to "New Pattern", new_pattern_path, :class => "btn"%>
<br />
<table class="table table-striped" style="width: 73%; float:left;">
  <thead>
    <tr>
      <th>Name</th>
      <th style="width: 40%;">Description</th>
      <th>Concepts</th>
      <th>Ontologies</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @patterns.each_with_index do |pattern, i| %>
    <tr>
      <td><%= radio_button_tag(:pattern_id, pattern.id)%>&nbsp;<%= link_to(pattern.name, pattern_path(pattern)) %></td>
      <td><%= pattern.description %></td>
      <td><%= pattern.concept_count %></td>
      <td><%= pattern.ontologies.collect{|ont| ont.short_name}.join("<br />").html_safe%>
      <td><%= link_to("Delete", pattern_path(pattern), :method => :delete, :class => "btn btn-danger", :confirm => "Really delete #{pattern.name}?") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<table class="table table-bordered" style="width: 25%; float:left; margin-left: 15px;">
  <tbody>
  <tr>
    <td>
      <%= button_tag(
        "Check Matching", 
        :remote => true, 
        :onclick => "checkExecutionStatus('pattern_id', '#{missing_concepts_patterns_path()}', 'ontology_id', $('#matching_status'));",
        :class => "btn"
        )
      %>
      <span id="matching_status"></span>
      <% Ontology.pluck(:group).uniq.each do |group| %>
        <hr />
        <% Ontology.where(:does_exist => true, :group => group).each do |ont| %>
          <%= radio_button_tag("ontology_id", ont.id) %> <%= ont.short_name %>
          <br />
        <% end %>
        </fieldset>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>