<%= simple_form_for(@pattern, :html => {:class => 'form-vertical' }) do |f| %>
<table>
  <tr>
    <td style="vertical-align: top">
        <legend>General Information</legend>
        <%= f.label :name %>
        <%= f.text_field(:name) %>

        <%= f.label :description %>
        <%= f.text_area(:description, :class => "form-control", :rows => 5) %>

        <%= f.label :categories %>
        <%= f.autocomplete_field :tag_list, autocomplete_tag_name_patterns_path, :"data-delimiter" => ', ' %>
        <br />
        <%= f.submit(:class => "btn btn-success") %>
      </td>
      <% Ontology.pluck(:group).uniq.each do |group| %>
        <td style="padding-left: 50px; vertical-align: top;">
          <div class="control-group">
            <legend><%= group %></legend>
            <fieldset class="fieldset">
              <%= f.association :ontology, as: :radio_buttons, collection: Ontology.where(:does_exist => true, :group => group), label_method: :short_name, label: false %>
            </fieldset>
            </div>
          </td>
      <% end %>
    </tr>
</table>
<% end %>
