<%= simple_form_for(@pattern, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.label :name %>
  <%= f.text_field(:name) %>
  
  <%= f.label :description %>
  <%= f.text_area(:description, :class => "form-control", :rows => 5) %>
  
  <%= f.label :original_query %>
  <%= f.text_area(:original_query, :class => "form-control", :rows => 6, :cols => 50) %>

  <%= f.label :categories %>
  <%= f.autocomplete_field :tag_list, autocomplete_tag_name_patterns_path, :"data-delimiter" => ', ' %>
  
  <br />
  
  <legend>Ontologies</legend>
  <div class="control-group">
    <% Ontology.all.each do |ont| %>
      <%= check_box_tag("pattern[ontology_ids][]", ont.id, @pattern.ontology_ids.include?(ont.id)) %> <%= ont.short_name %>
      <br />
    <% end %>
  </div>
  
  <br />
  <%= f.submit %>
  
<% end %>