<%= form_tag(transmogrify_patterns_path()) do %>
  <div class="btn-group">
    <%= hidden_field_tag("patterns[]", [@pattern.id])%>
    <%= button_tag("Run on:", :class => "btn btn-info", :name => "monitor") %>
    <%= select_tag(:repository_id, options_from_collection_for_select(@repositories, "id", "name")) %>
  </div>
<% end %>

<% @queries.each_pair do |language, query| %>
  <legend><%= language %></legend>
  <%= text_area_tag(:query_string, query, :class => "form-control full_page", :rows => 10)%>
<% end %>
