<h3><%= @results["data"].size %> Results for Query <%= @pattern.name.blank? ? @pattern.id : "'#{@pattern.name}'" %></h3>
<%= link_to("Back to Graph", @graph, {:class => "btn"}) %>
<table class="table">
  <thead>
  <tr>
    <% @results["columns"].each do |col| %>
    <th><%= col.gsub(/\d/, "").capitalize.singularize %></th>
    <% end %>
  </tr>
  </thead>

  <% @results["data"].each do |data| %>
    <tr>
      <% data.each do |date|%>
        <td>
        <%= link_to(name_for_res(date) || uri_for_res(date), uri_for_res(date)) %>
        <%= form_tag(graph_edit_node_path(@graph)) do %>
          <%= hidden_field_tag(:node_url, uri_for_res(date)) %>
          <%= submit_tag("Node")%>
        <% end %>
        </td>
      <% end%>
    </tr>
  <% end %>
</table>

<% if @pattern.name.nil? %>
  <%= form_tag(graph_query_store_permanently_path(@graph, @pattern)) do |f| %>
    <div class="form-actions">
      <h3>Found what you were looking for? Store the query for later use!</h3>
      <%= label_tag("Name") %><%= text_field_tag("query[name]")%><br />
      <%= label_tag("Description") %><%= text_area_tag("query[description]")%><br />
      <%= submit_tag("Save")%>
    </div>
  <% end %>
<% end %>