<%= javascript_tag do %>
  var new_relation_constraint_path = '<%= pattern_relation_constraints_path(@pattern) %>';
  var new_attribute_constraint_path = '<%= pattern_attribute_constraints_path(@pattern) %>';
  var connect_these_nodes = <%= @relations.to_json.html_safe %>;
  var load_their_attribute_constraints = <%= @attributes.to_json.html_safe %>
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "editor.js" %>
  <%= javascript_include_tag "pattern_editor.js" %>
<% end %>


<%= form_tag(pattern_nodes_path(@pattern), :remote => true, :id => "new_pattern_node") do %>
<div class="btn-toolbar">
  <div class="btn-group">
    <%= button_tag 'Create Node', :class => "btn" %>
    <%= select_tag(:ontology_id, options_for_select(@pattern.ontologies.collect{|ont| [ont.short_name, ont.id]}), :class => "needs_no_space") %>
  </div>
  <div class="btn-group">    
    <%= link_to 'Save', "#", :onclick => "savePattern();",  :class => "btn btn-success" %>
    <%= link_to 'Query', pattern_query_path(@pattern), :class => "btn btn-danger" %>
  </div>
</div>
<% end %>

<%= form_for(@pattern) do |f| %><% end %>
<hr />

<div id="drawing_canvas" class="canvas">

  <% @pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/show", :locals => {:node => node, :pattern => @pattern, :type_hierarchy => @type_hierarchy }%>
  <% end %>

</div>
