<%= javascript_tag do %>
  var new_relation_constraint_path = '<%= pattern_relation_constraints_path(@pattern) %>';
  var new_attribute_constraint_path = '<%= pattern_attribute_constraints_path(@pattern) %>';
  var connect_these_nodes = <%= @relations.to_json.html_safe %>;
  var load_their_attribute_constraints = <%= @attributes.to_json.html_safe %>
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "editor.js" %>
  <%= javascript_include_tag "pattern_editor.js" %>
<% end %>


<div class="btn-toolbar">
  <div class="btn-group">
    <%= form_tag(pattern_nodes_path(@pattern), :remote => true, :id => "new_pattern_node", :class => "needs_no_space") do %>      
      <%= button_tag 'Create Node', :class => "btn" %>
      <%= select_tag(:ontology_id, options_for_select(@pattern.ontologies.collect{|ont| [ont.short_name, ont.id]}), :class => "needs_no_space") %>
    <% end %>
  </div>
  
  <div class="btn-group left-boarder">    
    <%= form_for(@pattern, :html => {:class => "needs_no_space"}) do %>    
      <%= link_to 'Save', "#", :onclick => "savePattern();",  :class => "btn btn-success" %>      
    <% end %>
  </div>
  
  <%= link_to 'Query', pattern_query_path(@pattern), :class => "btn btn-danger" %>
  
  <div class="btn-group left-boarder">
    <%= form_tag(pattern_aggregations_path(@pattern), :remote => true, :id => "new_aggregation", :class => "needs_no_space") do %>   
      <%= select_tag(:operation, options_for_select(Aggregation.operations.keys), :class => "needs_no_space a_tad_bigger") %>:
      <%= select_tag(:pattern_element_id, options_for_select(@pattern.pattern_elements.collect{|pe| [pe.variable_name, pe.id]}), :class => "needs_no_space a_tad_bigger") %>
      <%= button_tag("Add Aggregation", :class => "btn btn-primary")%>
    <% end %>        
  </div>
  
  <div class="btn-group" id="aggregations" style="font-size: 14px;">
    <% @pattern.pattern_elements.each do |pe| %>
      <%= render :partial => "aggregations/show", :locals => {:aggregation => pe.aggregation} unless pe.aggregation.nil? %>
    <% end %>    
  </div>
</div>

<hr />

<div id="drawing_canvas" class="canvas">

  <% @pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/show", :locals => {:node => node, :pattern => @pattern, :type_hierarchy => @type_hierarchy }%>
  <% end %>

</div>
