<%= javascript_tag do %>
  var new_relation_constraint_path = '<%= pattern_relation_constraints_path(@target_pattern) %>';
  var new_attribute_constraint_path = '<%= pattern_attribute_constraints_path(@target_pattern) %>';

  var connect_these_static_nodes = <%= @source_relations.to_json.html_safe %>;
  var load_static_attribute_constraints = <%= @source_attributes.to_json.html_safe %>
  var connect_these_nodes = <%= @target_relations.to_json.html_safe %>;
  var load_their_attribute_constraints = <%= @target_attributes.to_json.html_safe %>;
  var matched_elements = <%= @matched_elements.to_json.html_safe %>;
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "editor.js" %>
  <%= javascript_include_tag "pattern_translator.js" %>
<% end %>

<div class="translation_controls" style="left: <%= @offset %>px" />
  <%= form_for(@target_pattern) do |f| %><% end %>
  <span>Translation to: <strong><%= link_to(@ontology.short_name, @ontology) %></strong></span>&nbsp;|&nbsp;
  <%= link_to 'New Node', "#", :class => "btn om-control", :onclick => "newTranslationNode('#{pattern_nodes_path(@target_pattern)}');", :id => 'new_node_button'%>
  <%= link_to 'Save', "#", :onclick => "saveTranslation();",  :class => "btn btn-success om-control" %>
  <%= link_to 'Save Mapping', "#", :class => "btn btn-info hide om-control", :onclick => "saveCorrespondence();" %>
  <%= link_to 'Next', "#", :class => "btn btn-primary hide om-control", :onclick => "selectNextElement();" %>
  <%= link_to 'Match Concepts', "#", :class => "btn btn-danger om-control", :onclick => "toggleOntologyMatchingMode(true);" %>
  <%= link_to 'Stop Matching', "#", :class => "btn btn-danger om-control hide", :onclick => "toggleOntologyMatchingMode(false);" %>
</div>

<%= form_tag(pattern_save_correspondence_path(@source_pattern, @target_pattern), :id => "save_correspondence_form") do %>
  <%= hidden_field_tag "source_element_ids[]" %>
  <%= hidden_field_tag "target_element_ids[]" %>
<% end %>

<div id="drawing_canvas" class="canvas">
  <% @source_pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/static", :locals => {:node => node, :pattern => @source_pattern}%>
  <% end %>

  <% @target_pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/show", :locals => {:node => node, :pattern => @target_pattern, :type_hierarchy => @type_hierarchy }%>
  <% end %>
</div>
