<%= javascript_tag do %>
  var new_relation_constraint_path = '<%= pattern_relation_constraints_path(@target_pattern) %>';
  var new_attribute_constraint_path = '<%= pattern_attribute_constraints_path(@target_pattern) %>';
    
  var connect_these_static_nodes = <%= @source_relations.to_json.html_safe %>;
  var load_static_attribute_constraints = <%= @source_attributes.to_json.html_safe %>
  var connect_these_nodes = <%= @target_relations.to_json.html_safe %>;
  var load_their_attribute_constraints = <%= @target_attributes.to_json.html_safe %>  
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "editor.js" %>
  <%= javascript_include_tag "pattern_translator.js" %>
<% end %>

<div id="feedback_form"></div>

<div class="translation_controls" style="left: <%= @offset %>px" />
  <%= form_for(@target_pattern) do |f| %><% end %>  
  <span>Translation to: <strong><%= link_to(@ontology.short_name, @ontology) %></strong></span>&nbsp;|&nbsp;
  <%= link_to 'Save', "#", :onclick => "saveTranslation();",  :class => "btn btn-success" %>
  <%= link_to 'New Node', "#", :class => "btn", :onclick => "newTranslationNode('#{pattern_nodes_path(@target_pattern)}');", :id => 'new_node_button'%>
  <%= link_to 'OM Mode', "#", :class => "btn btn-danger", :onclick => "toogleOntologyMatchingMode($(this));" %>
</div>

<div id="drawing_canvas" class="canvas">
  <% @source_pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/show_immutable", :locals => {:node => node, :pattern => @source_pattern}%>
  <% end %>
  
  <% @target_pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/show", :locals => {:node => node, :pattern => @target_pattern, :type_hierarchy => @type_hierarchy }%>
  <% end %>
</div>