<%= javascript_tag do %>
  var new_relation_constraint_path = '<%= relation_constraints_path() %>';
  var new_attribute_constraint_path = '<%= attribute_constraints_path() %>';

  var connect_these_static_nodes = <%= @source_relations.to_json.html_safe %>;
  var load_static_attribute_constraints = <%= @source_attributes.to_json.html_safe %>
  var connect_these_nodes = <%= @target_relations.to_json.html_safe %>;
  var load_their_attribute_constraints = <%= @target_attributes.to_json.html_safe %>;
  var matched_elements = <%= @matched_elements.to_json.html_safe %>;
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "editor.js" %>
  <%= javascript_include_tag "pattern_translator.js" %>
<% end %>

  <%= form_tag(pattern_nodes_path(@target_pattern), :remote => true, :id => "new_pattern_node") do %>
  <div class="translation_controls" style="left: <%= @controls_offset %>px" />
    <div class="btn-group">
      <%= button_tag 'Create Node', :class => "btn p-control" %>
      <%= select_tag(:ontology_id, options_for_select(@target_pattern.ontologies.collect{|ont| [ont.short_name, ont.id]}), :class => "needs_no_space p-control") %>
    </div>
  <% end %>
  <%= link_to 'Save Pattern', "#", :onclick => "savePattern();",  :class => "btn btn-success p-control" %>
  <%= link_to 'Save Mapping', "#", :onclick => "saveCorrespondence();", :class => "btn hide btn-info om-control" %>
  <%= link_to 'Back to Edit', "#", :onclick => "stopOmMode();", :class => "btn hide btn-warning om-control" %>
  <%= link_to 'Correspondences', pattern_correspondences_path(@target_pattern), remote: true, id: "toggle_correspondences" , class: "btn btn-danger" %>
  <%= link_to 'Query', pattern_query_path(@target_pattern), remote: true, id: "show_query", class: "btn btn-inverse"%>
  </div>



<%= form_for(@target_pattern) do |f| %><% end %>

<%= form_tag(pattern_correspondences_path(@target_pattern), :id => "save_correspondence_form") do %>
  <%= hidden_field_tag "source_element_ids[]" %>
  <%= hidden_field_tag "target_element_ids[]" %>
<% end %>

<div id="drawing_canvas" class="canvas">
  <% @source_pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/static", :locals => {:node => node, :pattern => @source_pattern, :offset => 0}%>
  <% end %>

  <% @target_pattern.nodes.each do |node| %>
    <%= render :partial => "nodes/show", :locals => {:node => node, :pattern => @target_pattern, :type_hierarchy => @type_hierarchy, :offset => @node_offset }%>
  <% end %>
</div>

<div class="correspondence-overview hide" id="correspondences">Correspondences</div>
<div id="query_modal" class="modal hide node_modal"></div>