<%= simple_form_for(@ontology, :html => {:class => 'form-vertical' }) do |f| %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :description %>
  <%= f.text_area :description, :class => "form-control", :rows => 5 %>

  <%= f.input :group, :url => autocomplete_ontology_group_ontologies_path, :as => :autocomplete %>

  <div class="actions">
    <%= f.submit(@ontology.new_record? ? "Create Ontology" : "Save Ontology", :class => "btn btn-success") %>
  </div>
<% end %>
