<%= simple_form_for(@ontology, :html => {:class => 'form-vertical' }) do |f| %>

  <%= f.label :url %>
  <%= f.text_field :url %>
  
  <%= f.label :prefix_url %>
  <%= f.text_field :prefix_url %>
  
  <%= f.label :description %>
  <%= f.text_area :description, :class => "form-control", :rows => 5 %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
