<ul class="type_expression">
  <li class="type_expression " data-id="<%= type_expression.id %>" onclick="highlightSelector($(this));">
    <%= form_for([pattern, node, type_expression]) do |f| %>
      <% if type_expression.operator? %>
      <%= f.select(:operator, options_for_select(["&sub;", "&sup;", "&not;"].collect{|x| x.html_safe}),{}, {:class => "very_narrow"}) %>
      <% else %>
      <%= f.select(:rdf_type, type_select(type_hierarchy, type_expression)) %>
      <% end %>
    <% end %>
  </li>
  <% type_expression.children.each do |child| %>
  	<%= render(
  	  :partial => "type_expressions/show", 
  	  :locals => {:type_expression => child, :type_hierarchy => type_hierarchy, :pattern => pattern, :node => node}) %>
  <% end %>
</ul>