<h3>Existing Graph Queries</h3>
<%= link_to "New Query", new_query_path, :class => "btn"%>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Run</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @queries.each do |query| %>
    <tr>
      <%= form_tag(query_run_on_graph_path(query)) do |f| %>      
      <td><%= link_to(query.name, query_path(query)) %></td>
      <td><%= query.description %></td>
      <td>
        <%= select_tag(:graph_id, options_from_collection_for_select(@graphs, "id", "name")) %>
        <%= submit_tag ("Run Query on Graph!")%>
      </td>
      <td><%= link_to("Destroy", query_path(query), method: :delete, class: "btn") %></td>
      <% end %>
    </tr>    
  <% end %>
</table>